<article>
<H1>About Me</h1>
<ul>
<li><a href="https://github.com/amos03?tab=repositories">My Github Repositories</a>
<li><a href="https://history.wisc.edu/people/bitzan-amos/">My Faculty Profile</a>
</ul>