<main>
<div>
<img src ="/profile.jpg">
</div>
<article>
Historian of the Holocaust currently studying web development.
</article>
<article>
<ul>
<li>Amos Bitzan, Ph.D.
<li>abitzan@wisc.edu
<li>+1-608-263-1804
</ul>
<article>
</main>