<section>
<h1>Skills</h1>
<ul>
<li>HTML/CSS</li>
<li>Ruby</li>
<li>SQLite3, PostgreSQL</li>
</ul>
<h1>Favourite Foods</h1>
<ul>
<li><a href="https://he.wikipedia.org/wiki/%D7%A2%D7%A8%D7%90%D7%99%D7%99%D7%A1">Arayis</a></li>
</ul>
<h1>Favourite Book</h1>
<ul>
    <li><i>War and Peace</i></li>
</ul>
</section>